[General]
Show_Labels=false
val_fontsize=1
Lines_Size=1
Update_Interval=1
Preferred_Height=469
Number_Chips=5
str_fontsize=small

[Chip0]
Name=k10temp-c3
Number=0

[Chip0_Feature0]
Address=0
Name=Tctl
Color=#FFFFFF
Show=true
Min=0
Max=80

[Chip1]
Name=BAT0-0
Number=1

[Chip2]
Name=amdgpu-300
Number=2

[Chip3]
Name=nvme-200
Number=3

[Chip4]
Name=ACPI
Number=4

